.nav
	%ul.nav_items
		%li= link_to "Home", :title => 'Home'
		%li= link_to "About Us", :title => 'About Us'
		%li= link_to "Contact", :title => 'Contact'
	.content
		%h1 Indiana brothers capture disc UFO on photograph
		.ufo1
			%img(src="http://www.openminds.tv/wp-content/uploads/image-3-ftr49.jpg")
		.article
			%p An Indiana witness at Metamora recalled a UFO incident from 1988 when he and his brother watched a disc-shaped object moving overhead at incredible speeds and angles and then later captured the object on film, according to Case 73477 from the Mutual UFO Network (MUFON) witness reporting database.
			.ufo2
				%img(src="http://www.openminds.tv/wp-content/uploads/image-1187.jpg")
				%p Witness image taken at the camp site. (Credit: MUFON)
			%p <strong>The sighting occurred on October 3, 1988, while the brothers were camping on a hill on their father’s property.</strong>

			“We were watching Monday Night Football on a portable battery powered television,” the witness stated.“The reception began to go in and out several times during the game keeping us busy moving the antenna around to get reception, when we noticed a dim glowing object in the sky straight above us moving in strange directions.”
			.ufo3
				%img(src="http://www.openminds.tv/wp-content/uploads/image-2182.jpg")
				%p Cropped and enlarged witness image showing the UFO. (Credit: MUFON)
			%p <strong>The witness described the object.</strong>
			“The light made sudden stops and turned at sharp angles in the sky. We watched it for about two minutes before it shot out of the night sky.”

			The next day the two brothers went squirrel hunting and returned to the camp during the afternoon.

			“Before packing up I took a picture of my brother standing in our camp. Not until the film was developed sometime later, we noticed the object in the sky above our camp. There was no noise coming from the object. We had heard planes fly over earlier while hunting because sound carries well on top of that hill. My brother and I had a hard time believing what we saw that night above our camp. My brother had not been out of the Air Force very long and said that he knew of no such plane that could maneuver like that. We only now after some 27 years have decided to share this because at the time this happened people looked at you like you’re a nut or liar. We are not looking for attention here, but would like an honest opinion of what we encountered.”
			.ufo4
				%img(src="http://www.openminds.tv/wp-content/uploads/image-436.jpg")
				%p The town of Metamora, IN, with railroad and canal in the foreground. (Credit: Wikimedia Commons)
			%p <strong>MUFON Indiana Field Investigator Patrick O’Brien investigated this case and closed it as an Unknown.</strong>

			“The estimated height of the object was one-half mile away and the object moved south and thenwent northwest and departed southwest,” O’Brien stated in his report.“The object had a glow like a ring around it.There were no sounds from the object, and the size from the witnesses’ view of the object could be estimated.
			.ufo5
				%img(src="http://www.openminds.tv/wp-content/uploads/image-511.jpg")
				%p Metamora is about eight miles northwest of Brookville, IN. (Credit: Google Maps)
			%p Metamora is an unincorporated town and census-designated place in Metamora Township, Franklin County, Indiana, population 188.Please remember that most UFO sightings can be explained as something natural or man-made. The above quotes were edited for clarity. Please report UFO activity to MUFON.com.

