.nav {
	background-image: url("http://i3.mirror.co.uk/incoming/article6455166.ece/ALTERNATES/s615b/Aliens.jpg");
	background-size: contain;
	margin-left: -8px;
	margin-right: -8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

li {
    float: left;
    font-family: Helvetica;
    font-size: 30px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.content {
	width: 900px;
	margin: 0 auto;
	background-color: white;
	padding: 25px;
	text-align: center;
	font-family: Helvetica;
	overflow: scroll;
	height: 600px;
}

img {
	margin: 35px;
}

.ufo2 p {
	color: grey;
}

.ufo3 p {
	color: grey;
}

.ufo4 p {
	color: grey;
}

.ufo5 p {
	color: grey;
}










